@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

.header-line {
  background-color: var(--primary-blue);
  height: 1.5rem;
  width: 100%;
}

header,
main {
  background-color: var(--bg-color);
}

.global-x-padding {
  padding-left: 12.5rem;
  padding-right: 12.5rem;
}

.welcome {
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.welcome figure {
  margin-top: 4.25rem;
  padding-left: 12.5rem;
}

.welcome-content {
  display: flex;
  position: relative;
  justify-content: center;
}

.welcome-text {
  padding-top: 7.5rem;
  position: relative;
  z-index: 10;
  left: 12.5rem;
  width: 32%;
}

.welcome-image-container {
  position: relative;
  z-index: 5;
  bottom: 3.5rem;
  width: 100%;
  height: auto;
  max-width: 100rem;
}
.welcome-image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.welcome-text h1 {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
}

.welcome-text p {
  font-size: 1.5rem;
}

.offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 5rem;
}

@media (max-width: 1024px) {
  .offers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .offers {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: var(--dark-grey);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  justify-content: space-between;
}

.badge {
  background-color: var(--badge-bg);
  color: var(--text-color);
  font-size: 0.75rem;
  padding: 0.375rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.logo {
  width: 100%;
  height: 7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.5rem 0;
}

.logo.betano {
  background-image: url("../images/betano.png");
}

.logo.sportingbet {
  background-image: url("../images/sportingbet.png");
}

.logo.bet365 {
  background-image: url("../images/bet365.png");
}

.logo.superbet {
  background-image: url("../images/superbet.png");
}

.logo.novibet {
  background-image: url("../images/novibet.png");
}

.logo.betnacional {
  background-image: url("../images/betnacional.png");
}

.card ul {
  margin: 0;
  list-style-type: none;
}

.card ul li {
  position: relative;
  padding-left: 1rem;
}

.card ul li::before {
  content: "-";
  position: absolute;
  left: 0;
}

.card .rating {
  margin-top: 0.75rem;
  text-align: center;
  font-size: 1rem;
  background-color: var(--light-grey);
  padding: 0.5rem;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.star-icon {
  width: 1rem;
  height: 1rem;
}

.card button {
  background-color: var(--button-bg);
  color: var(--text-color);
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.card button:hover {
  background-color: var(--button-hover);
}

.card h2 {
  font-size: 1.5rem;
}

.how-we-choose {
  margin-top: 4rem;
}

.how-we-choose h1:last-of-type {
  margin-bottom: 1.5rem;
}

.how-we-choose p {
  font-size: 1.5rem;
}

.criteria {
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
}

.criterion-plus {
  font-size: 3rem;
  color: var(--light-grey);
}

.divider {
  border: 1px solid var(--light-grey);
}

.criterion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.criterion:hover {
  background-color: var(--hover-grey);
}

.criterion-text {
  width: 70%;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--light-grey);
  padding: 1.5rem 0;
}

.criterion:last-child .criterion-text {
  border-bottom: none;
}

.criterion:first-child .criterion-text {
  border-top: 2px solid var(--light-grey);
}

.security {
  margin-top: 9rem;
}

.security p {
  font-size: 1.5rem;
  padding: 1.5rem 0;
  display: block;
}

.section-heading {
  font-size: 3rem;
  text-transform: uppercase;
}

@media (max-width: 1280px) {
  .global-x-padding {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .welcome figure {
    margin-top: 1rem;
    padding-left: 2rem;
  }

  .welcome-text {
    padding-top: 4rem;
    left: 2rem;
    width: 50%;
  }

  .welcome-text h1 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }

  .welcome-image-container {
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .global-x-padding {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .header-line {
    height: 0.75rem;
  }
  .welcome-content {
    flex-direction: column;
  }

  .welcome-image-container {
    width: 100%;
    order: 1;
  }

  .welcome-text {
    width: 100%;
    order: 2;
    margin-top: 0;
    padding-top: 0;
    left: 0;
    padding: 0.75rem;
  }
  .welcome-text h1 {
    font-size: 1.5rem;
  }

  .welcome-text p {
    font-size: 1rem;
  }

  .offers {
    margin-bottom: 3.75rem;
  }

  .how-we-choose {
    margin-top: 1.5rem;
  }

  .how-we-choose p {
    font-size: 1rem;
  }

  .criteria {
    margin-top: 1.5rem;
  }

  .criterion-plus {
    display: none;
  }

  .criterion-text {
    width: 100%;
  }

  .section-heading {
    font-size: 1.5rem;
  }

  .security p {
    font-size: 1rem;
  }

  .security {
    margin-top: 1.5rem;
  }
}
